
<!-- Pour Le Boutton de responsive -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

    <header class="main-header">
        <nav class="main-header__nav" id="navRes">
            <ul class="main-header__tabs-list">
                <li class="main-header__tab-item"><a href="/" class="active"> Home</a></li>
                <li class="main-header__tab-item"><a href="/all_memos"> Mémos</a></li>
                <li class="main-header__tab-item"><a href="/mes_memos"> Mes Mémos</a></li>
                <li class="main-header__tab-item"><a href="/add_memo"> New Mémo</a></li>
                <li class="btn_item"> 
                    <a href="/login" class="btn" > Se connecter </a>
                </li>
                <li class="btn_item" > 
                    <a class="btn" href="/register"> S'inscrire </a>
                </li>
                <li class="main-header__tab-item">
                    <a href="javascript:void(0);" class="icon" onclick="goResponsive()">
                        <i class="fa fa-bars"></i>
                      </a>
                </li>

            </ul>
        </nav>
    </header> 

    <script>
        function goResponsive() {
          var x = document.getElementById("navRes");
          if (x.className === "main-header__nav") {
            x.className += " responsive";
          } else {
            x.className = "main-header__nav";
          }
        }
    </script>