<body>

    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__tabs-list">
                <li class="main-header__tab-item"><a href="" class="active"> Home</a></li>
                <li class="main-header__tab-item"><a href=""> Mémos</a></li>
                <li class="main-header__tab-item"><a href=""> Mes Mémos</a></li>
                <li class="main-header__tab-item"><a href=""> New Mémo</a></li>
                <li class="btn_item"> 
                    <a class="btn" > Se connecter </a>
                </li>
                <li class="btn_item"> 
                    <a class="btn"> S'inscrire </a>
                </li>
            </ul>
        </nav>
    </header> 