<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Memos</title>
    <link rel="stylesheet" href="css/welcome.css">
</head>
<body>

    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__tabs-list">
                <li class="main-header__tab-item"><a href="" class="active"> Home</a></li>
                <li class="main-header__tab-item"><a href=""> Mémos</a></li>
                <li class="main-header__tab-item"><a href=""> Mes Mémos</a></li>
                <li class="main-header__tab-item"><a href=""> New Mémo</a></li>
                <li class="main-header__tab-item btn_item"> 
                    <button class="btn" > Se connecter </button>
                </li>
                <li class="main-header__tab-item btn_item"> 
                    <button class="btn"> S'inscrire </button>
                </li>




            </ul>
        </nav>
    </header>    
    
    <div class="main-container">
        <img src="img/memo_bg.jpg" alt="Mémos" class="main-container__memo-bg">
    </div>



    
</body>
</html>