<%- include('includes/head.ejs')%>
<link rel="stylesheet" href="css/welcome.css">
</head>
<%- include('includes/nav.ejs')%>



    
    <!-- <div class="main-container">
        <img src="img/memo_bg.jpg" alt="Mémos" class="main-container__memo-bg">
    </div> -->



    
</body>
</html>