<%- include('includes/head.ejs')%>
</head>
<%- include('includes/nav.ejs')%>

    
    <!-- <div class="main-container">
        <img src="img/memo_bg.jpg" alt="Mémos" class="main-container__memo-bg">
    </div> -->



    
</body>
</html>