/* Variable à utiliser ! ( Couleurs ) */
:root {
    --main_bg_color: rgb(170, 52, 52);
    --navbar_col:rgba(8, 7, 7, 0.911);
    --hover_bg_col:rgba(63, 218, 172, 0.911);
    --text_col:rgba(255, 255, 255, 0.911);
    --text_hover_col:rgb(105, 253, 142);
    --overlay_bg_col:rgba(146, 146, 146, 0.534);
    --overlay_bg_dark_col:rgba(32, 29, 29, 0.787);
    --overlay_fg_col:rgba(233, 224, 224, 0.534);


}

body{
  background-image: url('../img/bg_wlcm.jpg');
  background-size: cover;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

/* NavBar:  */
.main-header{
    width: 100%;
    height: auto;
    background-color: var(--navbar_col);
}

.main-header__nav{
    height: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    text-align: center;

}
.main-header__tabs-list{

    padding: 30px;
    margin: 0;
    width: 100%;
    align-items: center;
    text-align: center;
    list-style: none;
    overflow: hidden;

}

.userImg {

  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 5px 0;
}
a .userImg:hover {

  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 5px 0;
  filter: contrast(1.4);
  transform: scale(1.2);
}

.main-header__tab-item{
    float: left;
    padding: 14px 16px;
}

.main-header__tab-item a{

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--text_col);
}



.main-header__tab-item a:hover,.main-header__tab-item a:active ,a.active{
    
    color: var(--text_hover_col);
    border: solid 3px var(--text_hover_col);
    border-width: 0 0 3px 0;
    border-radius: 2px;
    background-color: transparent;

}

.main-header__tabs-list .btn_item{
    float: right;
    align-items: center;
}

.btn_item .btn{
    display: block;
    width: 145px;
    margin: 10px 20px 10px 10px;
    padding: 14px 16px;
    border: solid var(--text_hover_col) 2px;
    color: var(--text_hover_col);
    border-radius: 3px;
    background-color: transparent;
    text-decoration: none;
}

.btn_item .btn:hover,.main-header__tab-item .btn:active{
    border: solid var(--navbar_col) 2px;
    color: var(--navbar_col);
    border-radius: 3px;
    background-color: var(--text_hover_col);
}

/* Responsive NavBar  */
.main-header__nav ul li:last-child {
    display: none;
  }

.right_nav{
  display: flex;
  width: 30%;
  margin: 0;
  align-items: center;
  float: right;
}

.fullname p{

  color: white;
  float: left;
  text-align: left;
  width: 80%;
  margin-right: 30px;
  margin-top: 0;
  margin-left: 10%;
  font-size: 24px;
  padding: 0;
  color: var(--text_col);
}
#btn_logout
  
{
  width: 60px;
  height: 60px;
  margin: 16px 10px 10px 0px;
  padding: 4px;
  border: solid transparent 2px;
  background-color: transparent;
}
#btn_logout img {
  width: 30px;  
  height: 30px;
}

#btn_logout:hover {
  transform: scale(1.2);
  border-radius: 3px;
  cursor: pointer;
}
@media screen and (max-width: 920px) {
    .main-header__nav ul li:not(:first-child) {display: none;}
    .main-header__nav ul li:last-child{
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 920px) {
    .main-header__nav.responsive {position: relative;}
    .main-header__nav.responsive ul li:last-child {
      position: absolute;
      right: 0;
      top: 0;
    }
    .main-header__nav.responsive ul  {
        text-align: center;
        align-items: center;
      }
    .main-header__nav.responsive ul .btn {
        margin: 10px 5% 0 10%;
        width: 70%;
    }
    .main-header__nav.responsive ul li  {
      float: none;
      display: block;
      text-align: center;
    }
  }


/*  End NavBar  */














