/* Liste Des mémos  */
.main {
    background-image: url('../img/bg_login.jpg');
    margin: 0;
    background-size: cover;
    display: block;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.main h1{
    margin: 20px 0 0 0;
}


.main-container{
    padding: 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.main-container .memo{
    margin: 30px;
    padding: 10px;
    width: 500px;
    height: 600px;
    border: 2px var(--navbar_col) solid;
    background-color: var(--overlay_bg_col);
    border-radius: 20px;
    align-items: center;
    text-align: center;

}
.memo .memo-title{

}
.memo .memo-img{
    width: 80%;
    height: 40%;
    filter: contrast(0.9);

}
.memo .memo-img:hover{
    scale: 1.1;
    border: 3px var(--navbar_col) solid;
    cursor: pointer;
    padding: 0px;
    filter: contrast(1.3);
}

.memo .btn{
    width: 90%;
    border: solid var(--navbar_col) 2px;
    color: var(--navbar_col);
    border-radius: 3px;
    background-color: transparent;
    text-decoration: none;
    margin: 10px auto 30px auto;
}

.memo .btn:hover,main-header__tab-item .btn:active{
    border: solid var(--navbar_col) 2px;
    color: var(--navbar_col);
    border-radius: 3px;
    background-color: var(--text_hover_col);
}

/*  Ajouter un nouveau Mémo !  add_memo.ejs  */




