/* Main Content */
.main-container{

    width: 100%;
    margin: 8rem 2rem 0rem 60rem;
    align-items: center;


}
.main-container__memo-bg{
    width: 50rem;
    height: 35rem;
    background-size: cover;
}

/* END Main Content  */