<%- include('../includes/admin_head.ejs')%>
<link rel="stylesheet" href="/css/add_memo.css">
</head>
<%- include('../includes/admin_nav.ejs')%>


        <div class="main">

            <main class="main-container">

                <form class="login-form" action="/add_memo" method="POST" enctype="multipart/form-data">
                    <div class="user-img">
                         <img src="/img/add_memo.png" alt="Nouveau Memo">
                    </div>
                    <div class="form-control">
                        <input type="text" name="title" placeholder="Titre du Mémo">                 
                    </div>

                    <div class="form-control">
                        <textarea name="description" cols="30" rows="10" placeholder="Détails de votre Mémo..."></textarea>
                    </div>
                    <div>
                        <input class="upload-img" type="file" name="memoImage" placeholder="image">
                    </div>

                    <div class="form-control">
                        <input type="submit" class="btn" value="Valider">
                    </div>
                </form>


            </main>

        </div>



    
</body>
</html>