<%- include('../includes/admin_head.ejs')%>
<link rel="stylesheet" href="/css/welcome.css">
</head>
<%- include('../includes/admin_nav.ejs')%>

<main>

    <div class="main-container">
        
        <div class="welcome_text">
                <h1>  Bienvenue à Mémos Admin  !</h1>
                <div class="welcome">
                <p> Gérer le site via un simple clique... </p>
                <p> By : Benamara Abdelkader Chihab </p>
                <p> Université De Paris 2019/2020 </p>
                </div>
        </div>

    </div>

</main>



    
</body>
</html>