<%- include('../includes/admin_head.ejs')%>
<link rel="stylesheet" href="/css/welcome.css">
</head>
<%- include('../includes/admin_nav.ejs')%>

<main>

    <div class="main-container">
        
        <div class="welcome_text">
                <h1>  Bienvenue à Mémos !</h1>
                <div class="welcome">
                <p> Gérer vos mémos est désormais le plus simple du monde </p>
                <p> Pour Bénificier des fonctionnalités de Mémos Veuillez ... </p>
                </div>
            <div class="btn_">
                <a href="/register" class="btn"> Commencer ! </a>
            </div>
        </div>

    </div>

</main>



    
</body>
</html>