<%- include('../includes/admin_head.ejs')%>
<link rel="stylesheet" href="/css/welcome.css">
</head>
<%- include('../includes/admin_nav.ejs')%>

<div class="main" style="display: flex;flex-wrap:wrap;">

    <canvas id="users_nb_memo" style="margin:50px 30px 20px 100px;" width="500" height="500"></canvas>
    <canvas id="users_sharing" style="margin:10px 240px;" width="500" height="500"></canvas>
    <canvas id="users_sharing_memo" style="margin:10px 30%;" width="500" height="500"></canvas>
    <button id="getNbMemosBtn" style="display: none;"> Get stats</button>
    <button id="getNbSharesBtn" style="display: none;"> Get shared</button>
    <button id="getNbSharesMemoBtn" style="display: none;"> Get shared</button>

</div>
    
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script src="/js/stats.js"></script>


</body>
</html>